.product {
    width: 300px;
    height: 510px;
    border: 1px solid #FFE0B3;
    border-radius: 8px;
    position: relative;
}
.product img{
    width: 286px;
    height: 286px;
    margin: 7px;

}
.product-info{
    margin: 0 14px; 
}
.product-info p{
    margin-top: 5px;
    margin-bottom: 0px;

}
.product-info .product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px; 
}
.btn-cart{
    background: #FFE0B3;
    width: 100%;
    border: none;
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-cart p{
    margin-right: 5px;
}
.btn-cart:hover{
    background: orange; 
}